.login_btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav_section {
  display: flex;
  justify-content: center;
}
.menu_list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.menu_list li {
  padding: 10px;
}
.menu_area {
  position: relative;
}
.search_bar {
  position: absolute;
  right: 30px;
  bottom: 15px;
  border-bottom: 1px solid black;
}
.search_bar input {
  border: none;
  outline: none;
}
.product_card {
  margin-bottom: 30px;
}
.product_card:hover {
  transform: scale(1.1);
}
.product_img {
  cursor: pointer;
  width: 264px;
}
.mb-3 {
  width: 400px;
}
Form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product_img {
  display: flex;
  justify-content: flex-end;
}
.nav_section img {
  cursor: pointer;
}
